@let s = slot();

<span class="tag">{{ s.tag }}</span>
<span class="datum">{{ datumText() }}</span>

@if (s.feiertag) {
  <span class="beschriftung">
    <mat-icon inline>flag</mat-icon>
    Feiertag: {{ s.feiertag }}
  </span>
} @else if (s.luecke) {
  <span class="beschriftung" matTooltip="An diesem Montag ist keine Ausbildung geplant">
    <mat-icon inline>error_outline</mat-icon>
    Ausbildung fehlt
  </span>
} @else {
  <span class="beschriftung leer">Kein Eintrag</span>
}

<span class="fueller"></span>

<button
  matIconButton
  class="anlegen"
  [matTooltip]="'Eintrag für den ' + datumText() + ' anlegen'"
  (click)="anlegen.emit()"
>
  <mat-icon>add</mat-icon>
</button>
